<div class="dflex">
  <ul class="list-unstyled social">
    <li class="social-li">
      <a href="javascript:;" class="social-a">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </li>
    <li class="social-li">
      <a href="javascript:;" class="social-a">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </li>
    <li class="social-li">
      <a href="javascript:;" class="social-a">
        <fa-icon [icon]="faFacebookF"></fa-icon>
      </a>
    </li>
  </ul>
</div>
