.background{
  background-image: url('../assets/img/joker-bg-1.jpg');
  position: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  z-index: -1;
  width: 100%;

  .container{
  }

}
