@import '../../styles/variables.scss';

.container{
  padding: 15px;

  .content-info{
    padding-left: 15px;
    font-family: "zubajda_dt";
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;

  }
}

.aside{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media(min-width: 768px){
  .container{
    .content-info{
      color: $white;
    }
  }
}

@media(min-width: 1200px){
  .container{
    .content-info{
      color: $white;
    }
  }
}
